body {
    background-color: azure;
    font-family: Constantia;
    font-size: large;
    font-weight: 300;
}

#dvTitulo {
    background-color: azure;
    font-family: Constantia;
    font-size: larger;
    font-weight: 600;
}

.classTextoSobreCorpo {
    font-weight: 900;
    font-style: oblique;
}

.classTextoSobre {
    font-size: xx-large;
    font-weight: 900;
    font-style: oblique;
    color: cornflowerblue;
}